<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.coravy.hudson.plugins.github.GithubProjectProperty plugin="github@1.34.3">
      <projectUrl>https://github.com/wickett/word-cloud-generator/</projectUrl>
      <displayName></displayName>
    </com.coravy.hudson.plugins.github.GithubProjectProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.11.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://github.com/wickett/word-cloud-generator.git</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export GOPATH=$WORKSPACE/go
export PATH=&quot;$PATH:$(go env GOPATH)/bin&quot;

go get github.com/tools/godep
go get github.com/smartystreets/goconvey
go get github.com/GeertJohan/go.rice/rice
go get github.com/wickett/word-cloud-generator/wordyapi
go get github.com/gorilla/mux


sed -i &quot;s/1.DEVELOPMENT/1.$BUILD_NUMBER/g&quot; static/version

GOOS=linux GOARCH=amd64 go build -o ./artifacts/word-cloud-generator -v

ls -l artifacts/
gzip -f ./artifacts/word-cloud-generator
</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <sp.sd.nexusartifactuploader.NexusArtifactUploader plugin="nexus-artifact-uploader@2.13">
      <nexusVersion>nexus3</nexusVersion>
      <protocol>http</protocol>
      <nexusUrl>nexus:8081</nexusUrl>
      <groupId>$GIT_BRANCH</groupId>
      <version>1.$BUILD_NUMBER</version>
      <repository>word-cloud-build</repository>
      <artifacts>
        <sp.sd.nexusartifactuploader.Artifact>
          <artifactId>word-cloud-generator</artifactId>
          <type>gz</type>
          <classifier></classifier>
          <file>artifacts/word-cloud-generator.gz</file>
        </sp.sd.nexusartifactuploader.Artifact>
      </artifacts>
      <credentialsId>nexus-uploader</credentialsId>
    </sp.sd.nexusartifactuploader.NexusArtifactUploader>
  </builders>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.17"/>
    <org.jenkinsci.plugins.golang.GolangBuildWrapper plugin="golang@1.4">
      <goVersion>Go 1.16</goVersion>
    </org.jenkinsci.plugins.golang.GolangBuildWrapper>
  </buildWrappers>
</project>